.env
bin
.cache
*.log
.DS_Store

pkg/analyse/testdata/**/data_output.yaml

pkg/analyse/testdata/data2/data_output.yaml

pkg/analyse/testdata/benchmark/**/*.jsonl
pkg/analyse/testdata/benchmark/**/*.yaml

test/suites/cli/rimo.schema.json
test/suites/testdata/data1/data.yaml
